<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buttons</title>
    <link rel="icon" type="image/png" href="../../media/logo.png">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../../css/layout.css">
    <link rel="stylesheet" href="../../css/starter.css">
    <link rel="stylesheet" href="../buttons/style.css">

    <style>
        body{
            background-color: black;
        }
        *{
            color: white;
        }
        .component{
            margin-bottom: 50px;
            margin-top: 50px;
            font-size: 100%;
        }
        .component + textarea{
            background-color: #0b002b;
            color: white;
            padding: 25px;
            border: solid 1px #4400ff;
            outline: solid 1px #4400ff;
            cursor: pointer;
            margin-bottom: 100px;
        }
        h1{
            color: #4400ff;
            border-bottom: 2px solid#4400ff;
            margin-top: 25px;
        }
        .card{
            margin: 25px;
            box-shadow: 0px 0px 5px #4400ff;
        }
    </style>
</head>
<body class="column">
    <main class="container column">

        <h1>Card</h1>

        <div class="card column col-xl-3 col-lg-4 col-md-5 col-sm-6 col-10">
            <img src="../../media/logo.png" alt="">
            <div class="card-text">
                <h2>Card</h2>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt deleniti sapiente iste fugiat reprehenderit sequi atque sit excepturi aut unde. Laudantium sit error vitae ad libero asperiores mollitia repudiandae fugiat!
                </p>
                <div class="row">
                    <button class="btn btn-slide-right">Exit</button>
                    <button class="btn btn-shine">Continue</button>
                </div>
            </div>
        </div>

        <div class="card card-hover column col-xl-3 col-lg-4 col-md-5 col-sm-6 col-10">
            <img src="../../media/logo.png" alt="">
            <div class="card-text column">
                <h2>Card-hover</h2>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt deleniti sapiente iste fugiat reprehenderit sequi atque sit excepturi aut unde. Laudantium sit error vitae ad libero asperiores mollitia repudiandae fugiat!
                </p>
                <div class="row">
                    <button class="btn btn-slide-right">Exit</button>
                    <button class="btn btn-shine">Continue</button>
                </div>
            </div>
        </div>

        <div class="container row">

            <div class="card card-hover card-hover-left column col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12">
                <img src="../../media/logo.png" alt="">
                <div class="card-text column">
                    <h2>Card-hover-left</h2>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt deleniti sapiente iste fugiat reprehenderit sequi atque sit excepturi aut unde. Laudantium sit error vitae ad libero asperiores mollitia repudiandae fugiat!
                    </p>
                    <div class="row">
                        <button class="btn btn-slide-right">Exit</button>
                        <button class="btn btn-shine">Continue</button>
                    </div>
                </div>
            </div>

            <div class="card card-hover card-hover-right column col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12">
                <img src="../../media/logo.png" alt="">
                <div class="card-text column">
                    <h2>Card-hover-right</h2>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt deleniti sapiente iste fugiat reprehenderit sequi atque sit excepturi aut unde. Laudantium sit error vitae ad libero asperiores mollitia repudiandae fugiat!
                    </p>
                    <div class="row">
                        <button class="btn btn-slide-right">Exit</button>
                        <button class="btn btn-shine">Continue</button>
                    </div>
                </div>
            </div>

            <div class="card card-hover card-hover-top column col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12">
                <img src="../../media/logo.png" alt="">
                <div class="card-text column">
                    <h2>Card-hover-top</h2>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt deleniti sapiente iste fugiat reprehenderit sequi atque sit excepturi aut unde. Laudantium sit error vitae ad libero asperiores mollitia repudiandae fugiat!
                    </p>
                    <div class="row">
                        <button class="btn btn-slide-right">Exit</button>
                        <button class="btn btn-shine">Continue</button>
                    </div>
                </div>
            </div>

            <div class="card card-hover card-hover-bottom column col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12">
                <img src="../../media/logo.png" alt="">
                <div class="card-text column">
                    <h2>Card-hover-bottom</h2>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt deleniti sapiente iste fugiat reprehenderit sequi atque sit excepturi aut unde. Laudantium sit error vitae ad libero asperiores mollitia repudiandae fugiat!
                    </p>
                    <div class="row">
                        <button class="btn btn-slide-right">Exit</button>
                        <button class="btn btn-shine">Continue</button>
                    </div>
                </div>
            </div>

        </div>

        <div class="card card-horizontal col-xl-6 col-lg-7 col-md-8 col-sm-9 col-10">
            <img src="../../media/logo.png" alt="">
            <div class="card-text column">
                <h2>Card-horizontal</h2>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt deleniti sapiente iste fugiat reprehenderit sequi atque sit excepturi aut unde. Laudantium sit error vitae ad libero asperiores mollitia repudiandae fugiat!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus perspiciatis non a quo commodi, ipsum earum iure illum saepe? Odio, veniam hic esse praesentium libero dolor asperiores nam dolorem vitae!
                </p>
                <div class="row">
                    <button class="btn btn-slide-right">Exit</button>
                    <button class="btn btn-shine">Continue</button>
                </div>
            </div>
        </div>

    </main>
</body>
</html>
