<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buttons</title>
    <link rel="stylesheet" href="../../css/starter.css">
    <link rel="icon" type="image/pn/../media/logo.png">
    <link rel="stylesheet" href="../../css/layout.css">
    <link rel="stylesheet" href="../../css/colors.css">
    <link rel="stylesheet" href="style.css">

    <style>
        body{
            background-color: black;
        }
        .component{
            margin-bottom: 50px;
            margin-top: 50px;
            font-size: 100%;
        }
        .component + textarea{
            background-color: #0b002b;
            color: white;
            padding: 25px;
            border: solid 1px #4400ff;
            outline: solid 1px #4400ff;
            cursor: pointer;
            margin-bottom: 100px;
        }
        h1{
            color: #4400ff;
            border-bottom: 2px solid#4400ff;
            margin-top: 25px;
        }
    </style>
</head>
<body class="column">
    <main class="container column">

        <h1>Buttons</h1>

        <div class="row">
            <button class="btn btn-underline">
               <a href="style.css" download>download css</a>
            </button>
            <button class="btn btn-underline">
                <a href="index.html" download >download html </a>
            </button>
        </div>


        <div class="component row">
            <button class="btn btn-classic">
                Classic
            </button>
        </div>

<textarea cols="60" rows="4">
    <button class="btn btn-classic">
        Classic
    </button>
</textarea>


        <div class="component row">
            <button class="btn btn-ghost">
                Ghost
            </button>
        </div>

<textarea cols="60" rows="4">
    <button class="btn btn-ghost">
        Ghost
    </button>
</textarea>


        <div class="component row">
            <button class="btn btn-icon">
                <img src="../../icons/fcbk.png" alt="">
            </button>
            <button class="btn btn-icon">
                <img src="../../icons/ista.png" alt="">
            </button>
            <button class="btn btn-icon">
                <img src="../../icons/lkdn.png" alt="">
            </button>
            <button class="btn btn-icon">
                <img src="../../icons/ytub.png" alt="">
            </button>
            <button class="btn btn-icon">
                <img src="../../icons/mail.png" alt="">
            </button>
            <button class="btn btn-icon">
                <img src="../../icons/twit.png" alt="">
            </button>
            <button class="btn btn-icon">
                <img src="../../icons/snap.png" alt="">
            </button>
            <button class="btn btn-icon">
                <img src="../../icons/tel.png" alt="">
            </button>
            <button class="btn btn-icon">
                <img src="../../icons/map.png" alt="">
            </button>
            <button class="btn btn-icon">
                <img src="../../icons/wtsp.png" alt="">
            </button>
            <button class="btn btn-icon">
                <img src="../../icons/tktk.png" alt="">
            </button>
        </div>

<textarea cols="60" rows="46">

    <button class="btn btn-icon">
        <img src="icons/fcbk.png" alt="">
    </button>

    <button class="btn btn-icon">
        <img src="icons/ista.png" alt="">
    </button>

    <button class="btn btn-icon">
        <img src="icons/lkdn.png" alt="">
    </button>

    <button class="btn btn-icon">
        <img src="icons/ytub.png" alt="">
    </button>

    <button class="btn btn-icon">
        <img src="icons/mail.png" alt="">
    </button>

    <button class="btn btn-icon">
        <img src="icons/twit.png" alt="">
    </button>

    <button class="btn btn-icon">
        <img src="icons/snap.png" alt="">
    </button>

    <button class="btn btn-icon">
        <img src="icons/tel.png" alt="">
    </button>

    <button class="btn btn-icon">
        <img src="icons/map.png" alt="">
    </button>

    <button class="btn btn-icon">
        <img src="icons/wtsp.png" alt="">
    </button>

    <button class="btn btn-icon">
        <img src="icons/tktk.png" alt="">
    </button>

</textarea>
        
        
        <div class="component row">
            <button class="btn btn-icon layer">
                <a href=""><img src="../../icons/fcbk.png" alt=""></a>
            </button>
        </div>

<textarea cols="60" rows="4">
    <button class="btn btn-icon layer">
        <img src="icons/fcbk.png" alt="">
    </button>
</textarea>
        
        
        <div class="component row">
            <button class="btn btn-radial-out">
                Radial-out
            </button>
        </div>

<textarea cols="60" rows="4">
    <button class="btn btn-radial-out">
        Radial-out
    </button>
</textarea>


        <div class="component row">
            <button class="btn btn-radial-in">
                Radial-in
            </button>
        </div>

<textarea cols="60" rows="4">
    <button class="btn btn-radial-in">
        Radial-in
    </button>
</textarea>


        <div class="component row">
            <button class="btn btn-radial-double">
                Radial-double
            </button>
        </div>
        
<textarea cols="60" rows="4">
    <button class="btn btn-radial-double">
        Radial-double
    </button>
</textarea>


        <div class="component row">
            <button class="btn btn-slide-left">
                Slide-left
            </button>
        </div>

<textarea cols="60" rows="4">
    <button class="btn btn-slide-left">
        Slide-left
    </button>
</textarea>


        <div class="component row">
            <button class="btn btn-slide-right">
                Slide-right
            </button>
        </div>

<textarea cols="60" rows="4">
    <button class="btn btn-slide-right">
        Slide-right
    </button>
</textarea>


        <div class="component row">
            <button class="btn btn-slide-bottom">
                Slide-bottom
            </button>
        </div>
        
<textarea cols="60" rows="4">
    <button class="btn btn-slide-bottom">
        Slide-bottom
    </button>
</textarea>        


        <div class="component row">
            <button class="btn btn-slide-top">
                Slide-top
            </button>
        </div>

<textarea cols="60" rows="4">
    <button class="btn btn-slide-top">
        Slide-top
    </button>
</textarea>


        <div class="component row">
            <button class="btn btn-diamond">
                Diamond
            </button>
        </div>
        
<textarea cols="60" rows="4">
    <button class="btn btn-diamond">
        Diamond
    </button>
</textarea>


        <div class="component row">
            <button class="btn btn-diamond-rotate">
                Diamond-rotate
            </button>
        </div>

<textarea cols="60" rows="4">
    <button class="btn btn-diamond-rotate">
        Diamond-rotate
    </button>
</textarea>


        <div class="component row">
            <button class="btn btn-underline">
                Underline
            </button>
        </div>

<textarea cols="60" rows="4">
    <button class="btn btn-underline">
        Underline
    </button>
</textarea>


        <div class="component row">
            <button class="btn btn-underline-smooth">
                Underline smooth
            </button>
        </div>

<textarea cols="60" rows="4">
    <button class="btn btn-underline-smooth">
        Underline smooth
    </button>
</textarea>


        <div class="component row">
            <button class="btn btn-doubleline">
                Doubleline
            </button>
        </div>

<textarea cols="60" rows="4">
    <button class="btn btn-doubleline">
        Doubleline
    </button>
</textarea>


        <div class="component row">
            <button class="btn btn-totalborder">
                Totalborder
            </button>
        </div>

<textarea cols="60" rows="4">
    <button class="btn btn-totalborder">
        Totalborder
    </button>
</textarea>


        <div class="component row">
            <button class="btn btn-corner">
                Corner
            </button>
        </div>
        
<textarea cols="60" rows="4">
    <button class="btn btn-corner">
        Corner
    </button>
</textarea>


        <div class="component row">
            <button class="btn btn-shine">
                Shine
            </button>
        </div>

<textarea cols="60" rows="4">
    <button class="btn btn-shine">
        Shine
    </button>
</textarea>


        <div class="component row">
            <button class="btn btn-ghost-shine">
                Ghost-shine
            </button>
        </div>

<textarea cols="60" rows="4">
    <button class="btn btn-ghost-shine">
        Ghost-shine
    </button>
</textarea>



        <div class="component row">
            <button class="btn btn-doubleline-advanced">
                Advanced Doubleline
            </button>
        </div>

<textarea cols="60" rows="4">
    <button class="btn btn-doubleline-advanced">
        Advanced Doubleline
    </button>
</textarea>


        <div class="component row">
            <button class="btn btn-more column">
                More
                <p>FOR $49.99</p>
            </button>
        </div>
<textarea cols="60" rows="5">
    <button class="btn btn-more column">
        More
        <p>FOR $49.99</p>
    </button>
</textarea>


        <div class="component row">
            <button class="btn btn-primary">
                Primary
            </button>
        </div>

<textarea cols="60" rows="4">
    <button class="btn btn-primary">
        Primary
    </button>
</textarea>


        <div class="component row">
            <button class="btn btn-secondary">
                Secondary
            </button>
        </div>

<textarea cols="60" rows="4">
    <button class="btn btn-secondary">
        Secondary
    </button>
</textarea>


        <div class="component row">
            <button class="btn btn-success">
                Success
            </button>
        </div>

<textarea cols="60" rows="4">
    <button class="btn btn-success">
        Success
    </button>
</textarea>


        <div class="component row">
            <button class="btn btn-danger">
                Danger
            </button>
        </div>

<textarea cols="60" rows="4">
    <button class="btn btn-danger">
        Danger
    </button>
</textarea>


        <div class="component row">
            <button class="btn btn-warning">
                Warning
            </button>
        </div>

<textarea cols="60" rows="4">
    <button class="btn btn-warning">
        Warning
    </button>
</textarea>


        <div class="component row">
            <button class="btn btn-info">
                Info
            </button>
        </div>

<textarea cols="60" rows="4">
    <button class="btn btn-info">
        Info
    </button>
</textarea>


        <div class="component row">
            <button class="btn btn-light">
                Light
            </button>
        </div>

<textarea cols="60" rows="4">
    <button class="btn btn-light">
        Light
    </button>
</textarea>


        <div class="component row">
            <button class="btn btn-dark">
                Dark
            </button>
        </div>

<textarea cols="60" rows="4">
    <button class="btn btn-dark">
        Dark
    </button>
</textarea>


        <div class="component row">
            <button class="btn btn-rainbow">
                Rainbow
            </button>
        </div>

<textarea cols="60" rows="5">
    <button class="btn btn-rainbow">
        Rainbow
    </button>
</textarea>


        <div class="component row">
            <button class="btn btn-success btn-shine">
                Success shine
            </button>
        </div>

<textarea cols="60" rows="5">
    /* You also may combine classes */
    <button class="btn btn-success btn-shine">
        Success
    </button>
</textarea>


        <div class="component row">
            <button class="btn btn-primary btn-more">
                Primary More
                <p>Make your own combinations !</p>
            </button>
        </div>

<textarea cols="60" rows="5">
    /* You also may combine classes */
    <button class="btn btn-primary btn-more">
        Primary More
    </button>
</textarea>



    </main>
</body>
</html>