/* BUTTON SETTINGS */

    /* COLORS SETTINGS
    --interactive-color: #4400ff;
    --text-color: #000000;
    --primary-color: #7175bd;
    --secondary-color: #4e148c;
    --other-color: #ffffff;
    */

